@import "compass/css3";
@mixin comboBox($ancho:100px,$alto:30px,$grosor:0px,$estilo:solid,$color_borde:black,$color_texto:black,$imagen_fondo:transparent){		
	$paso_borde:4px;//if($imagen_fondo!=transparent, 0px, 4px);
	position: relative;
	display:inline-block;
	overflow: hidden;
	background:$imagen_fondo no-repeat;
	width: $ancho;
	height: $alto; 		
	border:$grosor $estilo $color_borde;
	margin-left: 5px;
	@include border-radius(4px);
	&{
		select{
			background:transparent;
			position: absolute;	
			color:$color_texto;	
			width: $ancho + $paso_borde + 30px;	
			height: $alto + $paso_borde;	
			top: - $paso_borde/2; 
			left: - $paso_borde/2;
		}
	}
}

// .combo_box{
// 	// image-url arguments:
// 	// $path: path relative to images directory in config.rb
// 	// $path-only: if true, will cause only the path to be returned instead of a `url()` function
// 	// $cache-buster: When set to `false` no cache buster will be used (i.e. `?313420982`)	
	// @include comboBox($ancho:214px,
	// 				  $alto:22px,
	// 				  $color_texto:#9900FF,
	// 				  $imagen_fondo:image-url('bkg_combo_ejemplo.png', false, true));
// }
@mixin contenedorPrincipal($ancho:960px,$alto:640px){
	position: relative;
	width:$ancho;
	height:$alto;
	margin:0 auto;
}
.app{
	@include contenedorPrincipal();
}
nav{
	text-align:center;
}

